<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <h1>ADMIN PAGE</h1>

    <div class="btn-group">
        <button onclick="openVrf()">
        Verify
        </button>
        <button onclick="openUpload()">Upload</button>
    </div>
</body>

<script>
    function openVrf(){
        window.location.pathname="/admin/verify"
    }

    function openUpload() {
        window.location.pathname="admin/upload"
    }
    
</script>
</html>